<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<div class="wrapper">
  <div th:insert="~{fragments/menus :: topbar}"></div>
  <div class="container-fluid">
    <div class="row">
      <div th:replace="~{fragments/menus :: sidebar}"></div>
      <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <form class="mt-3" role="form" th:action="@{transaction/proceed}" method="post">
          <!--/*@thymesVar id="userAccount" type="com.ongoni.onlinebank.entity.BankAccount"*/-->
          <!--/*@thymesVar id="account" type="com.ongoni.onlinebank.entity.BankAccount"*/-->
          <div class="form-group">
            <label for="from">Select your account</label>
            <select class="form-control" id="from" name="from">
              <option th:each="userAccount : ${userAccounts}"
                      th:text="${userAccount.uuid + ' - ' + userAccount.balance}"
                      th:value="${userAccount.id}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="to">Select recipient</label>
            <select class="form-control" id="to" name="to">
              <option th:each="account : ${accounts}"
                      th:text="${account.uuid + ' - ' + account.user.getFullName() + ' - ' + account.balance}"
                      th:value="${account.id}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="amount" name="amount">
          </div>
          <div class="form-group">
            <input class="btn btn-dark" type="submit" value="Proceed">
          </div>
        </form>
      </main>
    </div>
  </div>
</div>
</body>
</html>